# Local env files
.env
.env.*
!.env.example

# node_modules
node_modules/

# build
dist/
dist-ssr/

# Astro
.astro/
astro.config.mjs
astro.config.ts
astro.config.js
# only needed if you use hybrid/server rendering
# see https://docs.astro.build/en/guides/server-side-rendering/#configuring-server-side-rendering
# server/

# Vercel
.vercel/

# Netlify
.netlify/

# System Files
.DS_Store
Thumbs.db

# Misc
img_backup/
Litos-temp/
